---
import { page404 } from '@content/globals';

import Layout from '@layouts/Layout.astro';
---

<Layout pageTitle={page404.title}>
  <main>
    <section class="container">
      <div class="grid">
        <div class="content">
          <h1>{page404.title}</h1>
          <br />
          <h2>{page404.subline}</h2>
          <br />
          <br />
          <a href="/" class="link-animated">{page404.linkText}</a>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  section {
    margin-block: to-rem(100);
  }

  .content {
    grid-column: span 12;
    max-width: 60ch;
  }

  @media (min-width: 768px) {
    .content {
      grid-column: 2 / span 10;
    }
  }
</style>
