---
import { getRelativeLocaleUrl } from 'astro:i18n';

import { page404, page404De } from '@content/globals';

import Layout from '@layouts/Layout.astro';

const locale = Astro.currentLocale;

const page404Data = locale === 'de' ? page404De : page404;
---

<Layout pageTitle={page404Data.title}>
  <main>
    <section class="container">
      <div class="grid">
        <div class="content">
          <h1>{page404Data.title}</h1>
          <br />
          <h2>{page404Data.subline}</h2>
          <br />
          <br />
          <a
            href={getRelativeLocaleUrl(locale || 'en', '/')}
            class="link-animated">{page404Data.linkText}</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  section {
    margin-block: to-rem(100);
  }

  .content {
    grid-column: span 12;
    max-width: 60ch;
  }

  @media (min-width: 768px) {
    .content {
      grid-column: 2 / span 10;
    }
  }
</style>
