---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import ModuleTitle from '@components/ModuleTitle.astro';
import ModuleRichText from '@components/ModuleRichText.astro';

export async function getStaticPaths() {
  const pages = await getCollection('pagesGeneric');
  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
---

<Layout pageTitle={page?.data?.title}>
  <main>
    {
      page.data.sections.map((section) => (
        <section class="section">
          {section.modules.map((module) => {
            switch (module.type) {
              case 'moduleTitle':
                return <ModuleTitle fields={module} />;
              case 'moduleRichText':
                return <ModuleRichText fields={module} />;
              default:
                return null;
            }
          })}
        </section>
      ))
    }
  </main>
</Layout>
