---
// import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import StickyGrid from '@components/StickyGrid.astro';
import StickySection from '@components/StickySection.astro';

// const [page] = await getCollection('pageHome');
---

<Layout>
  <main>
    <StickyGrid />
    <StickySection />
  </main>
</Layout>

<style lang="scss"></style>
