---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import StickyContent from '@components/StickyContent.astro';
import ModuleTextLinksBlock from '@components/ModuleTextLinksBlock.astro';

const [page] = await getCollection('pageHome');
---

<Layout>
  <main>
    <section class="visually-hidden">
      <h1>{page.data.h1}</h1>
    </section>
    <section>
      <StickyContent fields={page.data.moduleStickyContent} />
    </section>
    {
      page.data.moduleTextLinksBlock.map((section) => (
        <section>
          <ModuleTextLinksBlock fields={section} />
        </section>
      ))
    }
  </main>
</Layout>
