<footer>
  <div class="container">
    <p>
      made by
      <a href="https://jankohlbach.com" target="_blank">
        https://jankohlbach.com
      </a>
    </p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/slug">Test</a></li>
        <li><a href="/legal">Legal</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </nav>
  </div>
</footer>

<style lang="scss">
  footer {
    padding-block: to-rem(20);
  }

  .container {
    display: flex;
    justify-content: center;
  }
</style>
