---
import { getEntries } from 'astro:content';
import { getRelativeLocaleUrl } from 'astro:i18n';

import { navigation, navigationDe, footer, footerDe } from '@content/globals';

import { useTranslations } from '../i18n/utils';

const locale = Astro.currentLocale;

const navigationData = locale === 'de' ? navigationDe : navigation;
const footerData = locale === 'de' ? footerDe : footer;

const links = await getEntries(footerData.links.map((link) => link.link));

const t = useTranslations((locale as 'de' | 'en') || 'en');
---

<footer>
  <div class="container">
    <div class="grid">
      <a
        href={Astro.url.pathname === '/' || Astro.url.pathname === '/de'
          ? Astro.url.pathname + '#'
          : getRelativeLocaleUrl(locale || 'en', '/')}
        class="title-mobile link-animated"
        aria-label="Home Graswald & Schaetzle"
      >
        <span class="word-1">
          <svg viewBox="0 0 200 39" fill="none" aria-hidden="true">
            <path
              d="M32.7886 18.3012V36.9922H29.2329L28.6452 30.7089C26.6523 34.7679 22.9963 37.5267 17.1183 37.5267C6.62366 37.5122 0 30.03 0 18.8934C0 7.75671 6.75269 0.0722656 17.319 0.0722656C26.3226 0.0722656 32 4.91116 32.6166 12.9712H27.2974C26.5951 7.74226 22.8101 4.81004 17.319 4.81004C9.96415 4.81004 5.44802 10.66 5.44802 18.85C5.44802 27.04 9.89247 32.8612 17.7491 32.8612C23.5269 32.8612 27.8854 29.1489 27.8854 22.5189H15.6272V18.3012H32.7886Z"
              fill="currentColor"></path>
            <path
              d="M66.3789 10.5283C72.2426 10.5283 76.4863 13.3167 76.4863 19.0801H76.4727V36.9902H71.6699V32.7588C70.7378 34.5209 68.1137 37.5107 62.9238 37.5107C58.0494 37.5107 54.2355 34.9686 54.2354 30.2021C54.2354 25.4355 57.7482 23.1961 64.9453 22.1416C69.662 21.4483 71.6835 20.8997 71.6836 18.502C71.6836 16.1042 69.4904 14.5294 66.4512 14.5293C62.5229 14.5293 60.6156 16.5084 60.3574 20.0615H55.4834C55.6412 15.1217 58.8666 10.5285 66.3789 10.5283ZM151.097 10.5283C156.961 10.5283 161.204 13.3167 161.204 19.0801H161.189V36.9902H156.387V32.7588C155.455 34.521 152.831 37.5107 147.642 37.5107C142.767 37.5107 138.953 34.9686 138.953 30.2021C138.953 25.4355 142.466 23.1961 149.663 22.1416C154.38 21.4483 156.401 20.8996 156.401 18.502C156.401 16.1042 154.208 14.5293 151.168 14.5293C147.24 14.5294 145.333 16.5085 145.075 20.0615H140.2C140.358 15.1217 143.584 10.5283 151.097 10.5283ZM197.922 36.9902H192.918V33.2207C192.201 34.6508 189.849 37.5107 184.918 37.5107C178.137 37.5107 173.879 32.1227 173.879 24.207C173.879 15.7282 178.839 10.4844 185.233 10.4844C188.818 10.4844 191.714 12.1747 192.918 14.7168V0.0703125H197.922V36.9902ZM90.4229 10.5156C96.645 10.5156 101.132 13.1881 101.906 20.0059H97.2041C96.9174 16.0481 93.9062 14.4883 90.3936 14.4883C86.8814 14.4884 85.1035 16.0771 85.1035 18.0703C85.1036 20.6702 87.1397 21.4642 91.4551 22.4609C96.0428 23.5152 100.874 25.2205 100.874 30.3193C100.874 35.4181 96.4874 37.498 91.1973 37.498C85.3191 37.498 81.3907 34.4792 80.9746 28.9473H85.7197C86.0353 32.0092 87.9855 33.6553 91.4551 33.6553C94.1647 33.6553 95.8994 32.6881 95.8994 30.377C95.8994 27.3148 92.4725 26.852 88.874 25.9854C83.67 24.7144 80.2002 22.6055 80.2002 18.0557C80.2003 13.5057 84.2005 10.5156 90.4229 10.5156ZM111.799 30.8799L117.763 10.9463H122.981L128.917 30.8652L133.662 10.9463H138.565L131.913 36.9902H126.724L120.372 15.8867L114.021 36.9902H108.802L102.121 10.9463H107.024L111.799 30.8799ZM170.596 36.9902H165.435V0.0703125H170.596V36.9902ZM42.7822 17.3916C44.1014 13.7516 46.4523 10.9922 51.2695 10.9922H54.624V15.3262H51.5557C46.9395 15.3263 42.7823 17.5939 42.7822 26.708V36.9785H37.6494V10.9922H42.7822V17.3916ZM71.6699 23.7881C70.2218 24.6402 68.1141 25.1468 65.7344 25.5801C61.4045 26.3889 59.2539 27.5011 59.2539 30.0723C59.2541 32.6432 61.4188 33.7402 63.9707 33.7402C67.8989 33.7402 71.6553 30.953 71.6553 25.6807H71.6699V23.7881ZM156.387 23.7881C154.939 24.6402 152.831 25.1467 150.451 25.5801C146.122 26.3889 143.972 27.5012 143.972 30.0723C143.972 32.6432 146.137 33.7402 148.688 33.7402C152.617 33.7401 156.373 30.9529 156.373 25.6807H156.387V23.7881ZM186.064 14.6738C181.262 14.6741 178.939 18.9643 178.939 24.4531C178.94 29.9417 181.319 33.4804 185.907 33.4805C190.495 33.4805 192.903 30.0714 192.903 23.9326C192.903 18.1404 190.523 14.6738 186.064 14.6738Z"
              fill="currentColor"></path>
          </svg>
        </span>
        <span class="word-2">
          <svg viewBox="0 0 14 41" fill="none" class="slash" aria-hidden="true">
            <path
              d="M13.6299 0L1.97963 40.9471H0L11.6637 0H13.6433H13.6299Z"
              fill="currentColor"></path>
          </svg>
          <svg viewBox="0 0 194 41" fill="none" aria-hidden="true">
            <path
              d="M13.6433 34.023C17.442 34.023 19.2478 32.4492 19.2478 29.6717C19.2478 26.405 16.8803 25.1882 10.5268 23.654C3.73185 22.0008 0 19.2763 0 13.6288C0 7.38625 6.07261 4.01367 12.3459 4.01367C20.1038 4.01367 25.4675 7.49206 26.1898 15.9566H21.2006C20.6924 11.3143 18.1911 8.36496 12.2389 8.36496C8.53376 8.36496 5.04267 10.2033 5.04267 13.695C5.04267 16.8824 6.92866 18.5092 13.4694 20.0698C19.5287 21.5246 24.3707 23.6672 24.3707 29.5395C24.3707 35.4117 20.0369 38.2817 13.3892 38.2817C5.8586 38.2817 1.49809 34.0892 0.949682 27.754H5.97898C6.43376 31.9863 9.2293 34.0098 13.6166 34.0098L13.6433 34.023Z"
              fill="currentColor"></path>
            <path
              d="M38.2021 13.5752C44.1944 13.5752 48.3412 17.1995 48.8896 22.6221H44.3145C43.86 19.3579 41.523 17.3343 38.25 17.3311C33.7458 17.3343 31.1797 21.2355 31.1797 25.9287C31.1799 31.0204 34.1225 34.499 38.5898 34.499C42.2548 34.499 44.0338 32.3559 44.6357 29.4727H49.1836C48.4613 34.6836 44.8495 38.2812 38.5361 38.2812C30.8586 38.2811 26.498 32.7787 26.498 25.9014C26.4982 19.0241 30.9526 13.5752 38.2021 13.5752ZM87.1846 13.5752C92.6551 13.5753 96.6143 16.1283 96.6143 21.4053H96.6006V37.8047H92.1201V33.9297C91.2507 35.5432 88.8028 38.2812 83.9609 38.2812C79.4132 38.2812 75.8555 35.9534 75.8555 31.5889C75.8555 27.2244 79.1321 25.1745 85.8467 24.209C90.2473 23.5741 92.1338 23.0715 92.1338 20.876C92.1338 18.6805 90.0866 17.2393 87.251 17.2393C83.5861 17.2393 81.8072 19.0512 81.5664 22.3047H77.0186C77.1657 17.7815 80.1757 13.5752 87.1846 13.5752ZM111.366 13.5752C118.295 13.5752 122.348 18.2572 122.348 26.166V27.0654H104.679C105.013 31.8003 107.782 34.5908 111.901 34.5908C115.245 34.5908 117.412 32.8587 117.987 30.0684H122.455C121.853 34.5253 118.428 38.2812 111.794 38.2812C103.969 38.2811 99.9297 32.6596 99.9297 25.9014C99.9299 19.1432 103.956 13.5752 111.366 13.5752ZM182.258 13.5752C189.186 13.5752 193.24 18.2572 193.24 26.166V27.0654H175.57C175.905 31.8001 178.673 34.5907 182.793 34.5908C186.137 34.5908 188.304 32.8587 188.879 30.0684H193.347C192.745 34.5252 189.321 38.2812 182.687 38.2812C174.862 38.2812 170.822 32.6598 170.822 25.9014C170.822 19.1433 174.848 13.5754 182.258 13.5752ZM167.973 37.8057H163.157V4H167.973V37.8057ZM132.515 14.0107H138.533V17.5557H132.515V29.4062C132.515 32.448 133.839 33.9951 136.581 33.9951H139.376V37.8047H135.403C130.856 37.8046 127.766 34.9739 127.766 29.9746V17.542H123.218V13.998H127.766V8.45605L132.515 7.64941V14.0107ZM56.3799 4.5957V13.5225H56.3525V20.9424C57.6099 17.2524 60.1382 13.5098 65.4082 13.5098C70.1699 13.5098 73.0459 16.4193 73.0459 22.7676V37.792H68.2842V23.667C68.1905 19.3951 66.9862 17.3848 63.9365 17.3848C60.1647 17.3849 56.5933 21.5113 56.3926 29.8301C56.3926 30.0549 56.3799 30.9148 56.3799 31.1396V37.7793H51.6582V13.999H51.6846V4H55.751L56.3799 4.5957ZM159.641 16.9736L147.175 33.916H160.056V37.791H140.941V34.9873L153.608 17.8203H141.784V13.9453H159.641V16.9736ZM92.1201 25.7168C90.7692 26.4971 88.8024 26.9597 86.582 27.3564C82.5428 28.0971 80.5362 29.1157 80.5361 31.4697C80.5361 33.8239 82.5566 34.8291 84.9375 34.8291C88.6023 34.8289 92.1064 32.2765 92.1064 27.4492H92.1201V25.7168ZM111.446 17.1592C107.514 17.1593 105.334 19.8047 104.772 23.8516H117.612C117.251 19.8707 115.379 17.1592 111.446 17.1592ZM182.339 17.1592C178.406 17.1592 176.226 19.8046 175.664 23.8516H188.505C188.144 19.8708 186.271 17.1593 182.339 17.1592Z"
              fill="currentColor"></path>
          </svg>
        </span>
      </a>
      <nav class="navigation" aria-label={t('footer.nav')}>
        <ol>
          {
            navigationData.links.map((link) => (
              <li>
                <a
                  href={`/${locale && locale !== 'en' ? locale : ''}#${link.anchor}`}
                  class="h1"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ol>
      </nav>
      <div class="content">
        <a
          href={Astro.url.pathname === '/' || Astro.url.pathname === '/de'
            ? Astro.url.pathname + '#'
            : getRelativeLocaleUrl(locale || 'en', '/')}
          class="title link-animated"
          aria-label="Home Graswald & Schaetzle"
        >
          <svg viewBox="0 0 298 31" fill="none" aria-hidden="true">
            <path
              d="M142.1 30.96H140.62L149.34 0H150.81L142.1 30.96ZM12.0801 2.0498C18.36 2.04983 22.32 5.40049 22.75 10.9805H19.04C18.55 7.36049 15.91 5.33011 12.0801 5.33008C6.95014 5.33008 3.79988 9.37991 3.7998 15.0498C3.7998 20.7198 6.89996 24.7499 12.3799 24.75C16.4099 24.75 19.4502 22.1798 19.4502 17.5898H10.9004V14.6699H22.8701V27.6104H20.3896L19.9805 23.2598C18.5905 26.0697 16.0402 27.9803 11.9404 27.9805C4.62045 27.9705 3.12416e-05 22.79 0 15.0801C0 7.37008 4.71008 2.0498 12.0801 2.0498ZM46.2998 9.29004C50.3898 9.29004 53.3496 11.22 53.3496 15.21H53.3398V27.6104H49.9902V24.6797C49.3402 25.8997 47.5096 27.9697 43.8896 27.9697C40.4899 27.9696 37.8302 26.2099 37.8301 22.9102C37.8301 19.6102 40.2799 18.0601 45.2998 17.3301C48.5898 16.8501 50 16.4696 50 14.8096C49.9997 13.1498 48.4694 12.0596 46.3496 12.0596C43.61 12.0597 42.2797 13.43 42.0996 15.8896H38.7002C38.8103 12.4698 41.0601 9.29012 46.2998 9.29004ZM105.39 9.29004C109.48 9.29004 112.44 11.22 112.44 15.21H112.43V27.6104H109.08V24.6797C108.43 25.8996 106.6 27.9695 102.98 27.9697C99.5805 27.9697 96.92 26.2101 96.9199 22.9102C96.9199 19.6102 99.3699 18.0601 104.39 17.3301C107.68 16.8501 109.09 16.4696 109.09 14.8096C109.09 13.1499 107.56 12.0597 105.44 12.0596C102.701 12.0596 101.371 13.4299 101.19 15.8896H97.79C97.9002 12.4699 100.15 9.29018 105.39 9.29004ZM138.05 27.6104H134.56V25C134.059 25.99 132.42 27.9695 128.98 27.9697C124.25 27.9697 121.28 24.2398 121.28 18.7598C121.28 12.8899 124.74 9.25977 129.2 9.25977C131.7 9.25983 133.72 10.4305 134.56 12.1904V2.0498H138.05V27.6104ZM162.02 2.05957C167.819 2.05957 171.83 4.68995 172.37 11.0898H168.64C168.26 7.58007 166.39 5.34975 161.94 5.34961C159.17 5.34961 156.56 6.73996 156.56 9.37988C156.56 11.7899 157.97 13.0202 162.86 14.2002C167.39 15.3002 171.01 16.9205 171.01 21.3604C171.01 25.8001 167.77 27.9697 162.8 27.9697C157.17 27.9697 153.91 24.7997 153.5 20.0098H157.26C157.6 23.2097 159.69 24.7401 162.97 24.7402L162.99 24.75C165.83 24.7499 167.18 23.5599 167.18 21.46C167.18 18.99 165.41 18.0701 160.66 16.9102C155.58 15.6602 152.79 13.6 152.79 9.33008C152.79 4.61024 157.33 2.05974 162.02 2.05957ZM181.35 9.29004C185.83 9.29004 188.93 12.03 189.34 16.1299H185.92C185.58 13.6616 183.832 12.1319 181.385 12.1299C178.018 12.1329 176.1 15.0818 176.1 18.6299C176.1 22.4797 178.3 25.1102 181.64 25.1104C184.38 25.1104 185.71 23.4896 186.16 21.3096H189.56C189.02 25.2496 186.32 27.9697 181.6 27.9697C175.86 27.9695 172.6 23.8101 172.6 18.6104C172.6 13.4105 175.93 9.29024 181.35 9.29004ZM217.97 9.29004C222.06 9.29004 225.02 11.22 225.02 15.21H225.01V27.6104H221.66V24.6797C221.01 25.8997 219.18 27.9697 215.56 27.9697C212.16 27.9696 209.5 26.2099 209.5 22.9102C209.5 19.6102 211.95 18.0601 216.97 17.3301C220.26 16.8501 221.67 16.4696 221.67 14.8096C221.67 13.1498 220.139 12.0596 218.02 12.0596C215.28 12.0597 213.95 13.43 213.77 15.8896H210.37C210.48 12.4698 212.73 9.29015 217.97 9.29004ZM236.05 9.29004C241.23 9.29004 244.26 12.8298 244.26 18.8096V19.4902H231.05C231.3 23.0701 233.37 25.1797 236.45 25.1797C238.95 25.1796 240.57 23.8697 241 21.7598H244.34C243.89 25.1297 241.33 27.9697 236.37 27.9697C230.52 27.9697 227.5 23.7202 227.5 18.6104C227.5 13.5004 230.51 9.29014 236.05 9.29004ZM289.05 9.29004C294.23 9.29004 297.26 12.8298 297.26 18.8096V19.4902H284.05C284.3 23.0701 286.37 25.1797 289.45 25.1797C291.95 25.1796 293.57 23.8697 294 21.7598H297.34C296.89 25.1297 294.33 27.9697 289.37 27.9697C283.52 27.9697 280.5 23.7202 280.5 18.6104C280.5 13.5004 283.51 9.29013 289.05 9.29004ZM63.0703 9.28027C67.41 9.28036 70.54 11.13 71.0801 15.8496H67.7998C67.5996 13.1099 65.4997 12.0303 63.0498 12.0303C60.6001 12.0303 59.3605 13.1299 59.3604 14.5098C59.3604 16.3098 60.78 16.8598 63.79 17.5498C66.99 18.2798 70.3604 19.4602 70.3604 22.9902C70.3602 26.52 67.3001 27.9599 63.6104 27.96C59.5104 27.96 56.7705 25.87 56.4805 22.04H59.79C60.0101 24.16 61.3701 25.2998 63.79 25.2998C65.6799 25.2998 66.8895 24.6301 66.8896 23.0303C66.8896 20.9104 64.5001 20.5902 61.9902 19.9902C58.3602 19.1102 55.9404 17.65 55.9404 14.5C55.9404 11.35 58.7303 9.28027 63.0703 9.28027ZM77.9805 23.3799L82.1396 9.58008H85.7803L89.9199 23.3701L93.2305 9.58008H96.6504L92.0098 27.6104H88.3896L83.96 13L79.5303 27.6104H75.8896L71.2305 9.58008H74.6504L77.9805 23.3799ZM118.99 27.6104H115.39V2.0498H118.99V27.6104ZM251.86 9.62012H256.36V12.2998H251.86V21.2598C251.86 23.5598 252.85 24.7305 254.9 24.7305H256.99V27.6104H254.02C250.62 27.6102 248.31 25.47 248.31 21.6904V12.29H244.91V9.61035H248.31V5.41992L251.86 4.80957V9.62012ZM278.37 27.6104H274.77V2.0498H278.37V27.6104ZM29.8398 14.04C30.7598 11.5201 32.3999 9.61044 35.7598 9.61035H38.0996V12.6104H35.96C32.74 12.6104 29.8398 14.1803 29.8398 20.4902V27.5996H26.2598V9.61035H29.8398V14.04ZM194.94 2.5V9.25H194.92V14.8604C195.86 12.0704 197.75 9.24023 201.69 9.24023C205.25 9.24041 207.4 11.4404 207.4 16.2402V27.5996H203.84V16.9199C203.77 13.69 202.87 12.1699 200.59 12.1699C197.77 12.17 195.1 15.2902 194.95 21.5801C194.95 21.7502 194.94 22.4003 194.94 22.5703V27.5898H191.41V9.61035H191.43V2.0498H194.47L194.94 2.5ZM272.14 11.8604L262.82 24.6699H272.45V27.5996H258.16V25.4805L267.63 12.5H258.79V9.57031H272.14V11.8604ZM49.9902 18.4697C48.9802 19.0597 47.5096 19.41 45.8496 19.71C42.8299 20.27 41.3301 21.0404 41.3301 22.8203C41.3303 24.6001 42.8402 25.3604 44.6201 25.3604C47.36 25.3603 49.9803 23.43 49.9805 19.7803H49.9902V18.4697ZM109.08 18.4697C108.07 19.0597 106.6 19.41 104.94 19.71C101.92 20.27 100.42 21.0403 100.42 22.8203C100.42 24.6001 101.93 25.3603 103.71 25.3604C106.45 25.3604 109.07 23.4301 109.07 19.7803H109.08V18.4697ZM221.66 18.4697C220.65 19.0597 219.18 19.41 217.52 19.71C214.5 20.27 213 21.0404 213 22.8203C213 24.6001 214.51 25.3604 216.29 25.3604C219.03 25.3603 221.65 23.4301 221.65 19.7803H221.66V18.4697ZM129.78 12.1602C126.43 12.1602 124.81 15.1298 124.81 18.9297C124.81 22.7297 126.47 25.1796 129.67 25.1797C132.87 25.1797 134.55 22.8201 134.55 18.5703C134.55 14.5604 132.89 12.1603 129.78 12.1602ZM236.11 12C233.17 12 231.54 13.9998 231.12 17.0596H240.72C240.45 14.0499 239.05 12.0002 236.11 12ZM289.11 12C286.17 12 284.54 13.9998 284.12 17.0596H293.72C293.45 14.0499 292.05 12.0002 289.11 12Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <div class="meta">
          <p class="contact h6">
            {footerData.contact}
          </p>
          {
            links.map((link) => (
              <span class="link">
                <a
                  href={getRelativeLocaleUrl(locale || 'en', link.data.slug)}
                  class="h6 link-animated"
                >
                  {link.data.title}
                </a>
              </span>
            ))
          }
        </div>
      </div>
      <a
        href={Astro.url.pathname === '/' || Astro.url.pathname === '/de'
          ? Astro.url.pathname + '#'
          : getRelativeLocaleUrl(locale || 'en', '/')}
        class="symbol"
        aria-label="Home Graswald & Schaetzle"
      >
        <svg viewBox="0 0 38 24" fill="none" aria-hidden="true">
          <path
            d="M12 24C9.15759 24 6.84241 21.6848 6.84241 18.8424C6.84241 17.914 6.08596 17.1576 5.15759 17.1576C2.31519 17.1576 0 14.8424 0 12C0 9.15759 2.31519 6.84241 5.15759 6.84241C6.08596 6.84241 6.84241 6.08596 6.84241 5.15759C6.84241 2.31519 9.15759 0 12 0C14.8424 0 17.1576 2.31519 17.1576 5.15759C17.1576 8 14.8424 10.3152 12 10.3152C11.0716 10.3152 10.3152 11.0716 10.3152 12C10.3152 12.9284 11.0716 13.6848 12 13.6848C14.8424 13.6848 17.1576 16 17.1576 18.8424C17.1576 21.6848 14.8424 24 12 24Z"
            fill="currentColor"></path>
          <path
            d="M30.8462 18.8424C30.8462 17.914 31.6027 17.1576 32.531 17.1576C35.3734 17.1576 37.6886 14.8424 37.6886 12C37.6886 9.15759 35.3734 6.84241 32.531 6.84241C31.6027 6.84241 30.8462 6.08596 30.8462 5.15759C30.8462 2.31519 28.531 0 25.6886 0C22.8462 0 20.531 2.31519 20.531 5.15759C20.531 8 22.8462 10.3152 25.6886 10.3152C26.617 10.3152 27.3734 11.0716 27.3734 12C27.3734 12.9284 26.617 13.6848 25.6886 13.6848C22.8462 13.6848 20.531 16 20.531 18.8424C20.531 21.6848 22.8462 24 25.6886 24C28.531 24 30.8462 21.6848 30.8462 18.8424Z"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    position: relative;
    z-index: var(--zi-footer);
    padding-top: to-rem(90);
    padding-bottom: to-rem(36);
    color: var(--c-primary);
    background-color: var(--c-primary-dark);
  }

  .title-mobile {
    grid-column: 1 / span 12;
    grid-row: 1;
    display: flex;
    gap: to-rem(38);
    align-items: center;
    margin-bottom: to-rem(108);

    .word-1 {
      width: to-rem(138);
    }

    .word-2 {
      position: relative;
      width: to-rem(157);

      .slash {
        position: absolute;
        right: 100%;
        width: to-rem(7);
        width: 7%;
      }
    }
  }

  .navigation {
    --cols: 12;
    --col-width: calc(
      (100% - (var(--grid-gutter) * (var(--cols) - 1))) / var(--cols)
    );

    grid-column: 1 / span var(--cols);
    grid-row: 2;
    margin-bottom: to-rem(160);

    ol {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: to-rem(12);
      align-items: flex-start;
      list-style-type: none;
      counter-reset: list -1;

      li {
        width: 100%;
        display: flex;
        gap: var(--grid-gutter);
        align-items: baseline;
        opacity: 1;
        transition: opacity 0.4s var(--ease-smooth);
        counter-increment: list;

        &::before {
          content: counter(list) '.';
          width: calc(var(--col-width));
          font-family: var(--ff-secondary);
          font-size: to-rem(12);
          line-height: 1.5;
          letter-spacing: 0;
        }

        @include has-hover {
          &:has(a:hover) {
            opacity: 1;
          }
        }

        a {
          position: relative;
          display: flex;
          align-items: center;

          &::before {
            content: '';
            width: 0.25em;
            margin-left: -0.25em;
            aspect-ratio: 11 / 32;
            background-image: inline-svg(
              "<svg viewBox='0 0 11 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11.0001 0.52002L2.29006 31.48H0.810059L9.52006 0.52002H11.0001Z' fill='#B2C598'/></svg>"
            );
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  .content {
    --cols: 6;
    --col-width: calc(
      (100% - (var(--grid-gutter) * (var(--cols) - 1))) / var(--cols)
    );

    grid-column: 7 / span var(--cols);
    grid-row: 3;
    width: 100%;
    display: flex;
    gap: to-rem(48);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .title {
      display: none;

      svg {
        width: to-rem(300);
      }
    }

    .meta {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: to-rem(90) 0;
      align-items: flex-end;

      .contact {
        width: 100%;
        white-space: pre-line;
      }

      .link {
        width: calc((var(--col-width) * 3) + (var(--grid-gutter) * 2));
      }
    }
  }

  .symbol {
    grid-column: 1 / span 3;
    grid-row: 3;
    max-width: to-rem(610);

    svg {
      overflow: visible;
    }

    path {
      animation: symbol1 6s var(--ease-snappy) 0s infinite normal forwards;

      &:nth-child(1) {
        transform-origin: 25% 50%;
        animation-name: symbol1;
      }

      &:nth-child(2) {
        transform-origin: 75% 50%;
        animation-name: symbol2;
      }
    }
  }

  @media (min-width: 560px) {
    footer {
      padding-top: to-rem(120);
      padding-bottom: to-rem(24);
    }

    .title-mobile {
      display: none;
    }

    .navigation {
      --cols: 8;

      grid-column: 5 / span var(--cols);

      ol {
        gap: to-rem(16);

        li {
          gap: calc(var(--col-width) + var(--grid-gutter));
          opacity: 0.5;

          &::before {
            width: 2em;
            margin-left: -2em;
            transform: translateX(calc(var(--grid-gutter) * -1 - 1em + 2em));
          }
        }
      }
    }

    .content {
      --cols: 7;

      grid-column: 6 / span var(--cols);

      .title {
        display: block;
      }

      .meta {
        flex-wrap: nowrap;
        gap: var(--grid-gutter);

        .contact {
          width: calc((var(--col-width) * 3) + (var(--grid-gutter) * 2));
        }

        .link {
          width: calc((var(--col-width) * 2) + var(--grid-gutter));
        }
      }
    }

    .symbol {
      grid-column: 1 / span 4;
    }
  }

  @media (min-width: 1280px) {
    .navigation {
      --cols: 5;

      grid-column: 8 / span var(--cols);
    }

    .content {
      --cols: 4;

      grid-column: 9 / span var(--cols);

      .meta {
        .contact {
          width: calc((var(--col-width) * 2) + var(--grid-gutter));
        }

        .link {
          width: var(--col-width);
        }
      }
    }

    .symbol {
      grid-column: 1 / span 6;
    }
  }

  @keyframes symbol1 {
    0% {
      transform: translateX(0%) rotate(0deg);
    }

    25%,
    50% {
      transform: translateX(50%) rotate(-180deg);
    }

    75%,
    100% {
      transform: translateX(0%) rotate(-360deg);
    }
  }

  @keyframes symbol2 {
    0% {
      transform: translateX(0%) rotate(0deg);
    }

    25%,
    50% {
      transform: translateX(-50%) rotate(-180deg);
    }

    75%,
    100% {
      transform: translateX(0%) rotate(-360deg);
    }
  }
</style>
