<header>
  <div class="container">
    <div class="grid">
      <h1 class="title">
        <a href="/" class="title-inner">
          <span>Graswald</span>
          <span>/Schaetzle</span>
        </a>
      </h1>
      <a href="/" class="symbol" aria-label="Home">
        <svg viewBox="0 0 38 24" fill="none" aria-hidden="true">
          <path
            d="M12 24C9.15759 24 6.84241 21.6848 6.84241 18.8424C6.84241 17.914 6.08596 17.1576 5.15759 17.1576C2.31519 17.1576 0 14.8424 0 12C0 9.15759 2.31519 6.84241 5.15759 6.84241C6.08596 6.84241 6.84241 6.08596 6.84241 5.15759C6.84241 2.31519 9.15759 0 12 0C14.8424 0 17.1576 2.31519 17.1576 5.15759C17.1576 8 14.8424 10.3152 12 10.3152C11.0716 10.3152 10.3152 11.0716 10.3152 12C10.3152 12.9284 11.0716 13.6848 12 13.6848C14.8424 13.6848 17.1576 16 17.1576 18.8424C17.1576 21.6848 14.8424 24 12 24Z"
            fill="currentColor"></path>
          <path
            d="M30.8462 18.8424C30.8462 17.914 31.6027 17.1576 32.531 17.1576C35.3734 17.1576 37.6886 14.8424 37.6886 12C37.6886 9.15759 35.3734 6.84241 32.531 6.84241C31.6027 6.84241 30.8462 6.08596 30.8462 5.15759C30.8462 2.31519 28.531 0 25.6886 0C22.8462 0 20.531 2.31519 20.531 5.15759C20.531 8 22.8462 10.3152 25.6886 10.3152C26.617 10.3152 27.3734 11.0716 27.3734 12C27.3734 12.9284 26.617 13.6848 25.6886 13.6848C22.8462 13.6848 20.531 16 20.531 18.8424C20.531 21.6848 22.8462 24 25.6886 24C28.531 24 30.8462 21.6848 30.8462 18.8424Z"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    padding-top: to-rem(45);
  }

  .grid {
    align-items: center;
  }

  .title,
  .title-inner {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / span 8;
  }

  h1 {
    font-size: var(--fs-4);
    font-weight: var(--fw-regular);

    a {
      span {
        &:first-child {
          grid-column: 1 / span 4;
        }

        &:last-child {
          grid-column: 5 / span 4;
        }
      }
    }
  }

  .symbol {
    grid-column-start: 9;
    width: to-rem(38);
    overflow: visible;

    path {
      transition: transform 1.4s var(--ease-snappy);

      &:nth-child(1) {
        transform-origin: 25% 50%;
      }

      &:nth-child(2) {
        transform-origin: 75% 50%;
      }
    }
  }

  @include has-hover {
    header:has(.title-inner:hover) .symbol,
    .symbol:hover {
      path {
        &:nth-child(1) {
          transform: translateX(50%) rotate(-180deg);
        }

        &:nth-child(2) {
          transform: translateX(-50%) rotate(-180deg);
        }
      }
    }
  }
</style>
