<div class="container">
  <div class="grid">
    <nav class="navigation" data-js="io-nav">
      <ol>
        <li>
          <a href="/#introduction" class="is-active">/Introduction</a>
        </li>
        <li>
          <a href="/#communication">/Communication</a>
        </li>
        <li>
          <a href="/#technology">/Technology</a>
        </li>
        <li>
          <a href="/#transformation">/Transformation</a>
        </li>
      </ol>
    </nav>
    <div class="nested-grid">
      <div class="introduction">
        <h2>introduction</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
          mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
          incidunt architecto odit porro dolores vel natus placeat, quibusdam
          quas eos iusto accusamus odio at recusandae mollitia temporibus ullam
          voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
          sequi cupiditate architecto omnis iste consectetur beatae dolor
          suscipit iure nam possimus nobis quod eligendi, magni laudantium, cum
          dolores porro similique debitis ab eveniet?
        </p>
      </div>
      <div id="communication" class="col-1">
        <h2>communication</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
          mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
          incidunt architecto odit porro dolores vel natus placeat, quibusdam
          quas eos iusto accusamus odio at recusandae mollitia temporibus ullam
          voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
          sequi cupiditate architecto omnis iste consectetur beatae dolor
          suscipit iure nam possimus nobis quod eligendi, magni laudantium, cum
          dolores porro similique debitis ab eveniet? Atque sunt id error et
          inventore nulla, porro velit quas non omnis possimus laboriosam, fuga
          eveniet delectus! Nemo exercitationem atque inventore quis!
          Voluptatibus voluptatum sit consequatur saepe, quisquam maiores a amet
          optio, veritatis tenetur voluptates, accusamus suscipit quod! Ab
          obcaecati deserunt, itaque aspernatur voluptatem accusamus libero et
          natus rerum sed eveniet aliquid sunt perspiciatis! Numquam, enim
          deserunt doloribus eaque, itaque delectus in harum cupiditate porro
          animi ea, quaerat ipsa suscipit sed architecto sint! Harum ullam ut,
          tenetur atque dolorem eum dolore rem pariatur aperiam voluptates
          praesentium nostrum, repellendus temporibus a nihil est quia, maiores
          nam iure aliquid sit deserunt id. Fuga fugiat omnis autem, deleniti
          tenetur itaque. Recusandae suscipit maxime magnam sed quaerat
          accusantium. Inventore placeat fugiat, distinctio id ipsam neque
          deserunt? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reiciendis natus ut assumenda tempora, sed optio et, labore, magnam
          dignissimos mollitia impedit maxime itaque aspernatur. Doloremque fuga
          nam labore, incidunt architecto odit porro dolores vel natus placeat,
          quibusdam quas eos iusto accusamus odio at recusandae mollitia
          temporibus ullam voluptas atque cupiditate! Quisquam, distinctio
          repellendus assumenda sequi cupiditate architecto omnis iste
          consectetur beatae dolor suscipit iure nam possimus nobis quod
          eligendi, magni laudantium, cum dolores porro similique debitis ab
          eveniet? Atque sunt id error et inventore nulla, porro velit quas non
          omnis possimus laboriosam, fuga eveniet delectus! Nemo exercitationem
          atque inventore quis! Voluptatibus voluptatum sit consequatur saepe,
          quisquam maiores a amet optio, veritatis tenetur voluptates, accusamus
          suscipit quod! Ab obcaecati deserunt, itaque aspernatur voluptatem
          accusamus libero et natus rerum sed eveniet aliquid sunt perspiciatis!
          Numquam, enim deserunt doloribus eaque, itaque delectus in harum
          cupiditate porro animi ea, quaerat ipsa suscipit sed architecto sint!
          Harum ullam ut, tenetur atque dolorem eum dolore rem pariatur aperiam
          voluptates praesentium nostrum, repellendus temporibus a nihil est
          quia, maiores nam iure aliquid sit deserunt id. Fuga fugiat omnis
          autem, deleniti tenetur itaque. Recusandae suscipit maxime magnam sed
          quaerat accusantium. Inventore placeat fugiat, distinctio id ipsam
          neque deserunt?
        </p>
      </div>
      <div id="technology" class="col-2">
        <h2>technology</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
          mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
          incidunt architecto odit porro dolores vel natus placeat, quibusdam
          quas eos iusto accusamus odio at recusandae mollitia temporibus ullam
          voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
          sequi cupiditate architecto omnis iste consectetur beatae dolor
          suscipit iure nam possimus nobis quod eligendi, magni laudantium, cum
          dolores porro similique debitis ab eveniet? Atque sunt id error et
          inventore nulla, porro velit quas non omnis possimus laboriosam, fuga
          eveniet delectus! Nemo exercitationem atque inventore quis!
          Voluptatibus voluptatum sit consequatur saepe, quisquam maiores a amet
          optio, veritatis tenetur voluptates, accusamus suscipit quod! Ab
          obcaecati deserunt, itaque aspernatur voluptatem accusamus libero et
          natus rerum sed eveniet aliquid sunt perspiciatis! Numquam, enim
          deserunt doloribus eaque, itaque delectus in harum cupiditate porro
          animi ea, quaerat ipsa suscipit sed architecto sint! Harum ullam ut,
          tenetur atque dolorem eum dolore rem pariatur aperiam voluptates
          praesentium nostrum, repellendus temporibus a nihil est quia, maiores
          nam iure aliquid sit deserunt id. Fuga fugiat omnis autem, deleniti
          tenetur itaque. Recusandae suscipit maxime magnam sed quaerat
          accusantium. Inventore placeat fugiat, distinctio id ipsam neque
          deserunt?
        </p>
      </div>
    </div>
    <p class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis natus
      ut assumenda tempora, sed optio et, labore, magnam dignissimos mollitia
      impedit maxime itaque aspernatur. Doloremque fuga nam labore, incidunt
      architecto odit porro dolores vel natus placeat, quibusdam quas eos iusto
      accusamus odio at recusandae mollitia temporibus ullam voluptas atque
      cupiditate! Quisquam, distinctio repellendus assumenda sequi cupiditate
      architecto omnis iste consectetur beatae dolor suscipit iure nam possimus
      nobis quod eligendi, magni laudantium, cum dolores porro similique debitis
      ab eveniet?
    </p>
    <div class="sidebar">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
        mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
        incidunt architecto odit porro dolores vel natus placeat, quibusdam quas
        eos iusto accusamus odio at recusandae mollitia temporibus ullam
        voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
        sequi cupiditate architecto omnis iste consectetur beatae dolor suscipit
        iure nam possimus nobis quod eligendi, magni laudantium, cum dolores
        porro similique debitis ab eveniet? Atque sunt id error et inventore
        nulla, porro velit quas non omnis possimus laboriosam, fuga eveniet
        delectus! Nemo exercitationem atque inventore quis! Voluptatibus
        voluptatum sit consequatur saepe, quisquam maiores a amet optio,
        veritatis tenetur voluptates, accusamus suscipit quod! Ab obcaecati
        deserunt, itaque aspernatur voluptatem accusamus libero et natus rerum
        sed eveniet aliquid sunt perspiciatis! Numquam, enim deserunt doloribus
        eaque, itaque delectus in harum cupiditate porro animi ea, quaerat ipsa
        suscipit sed architecto sint! Harum ullam ut, tenetur atque dolorem eum
        dolore rem pariatur aperiam voluptates praesentium nostrum, repellendus
        temporibus a nihil est quia, maiores nam iure aliquid sit deserunt id.
        Fuga fugiat omnis autem, deleniti tenetur itaque. Recusandae suscipit
        maxime magnam sed quaerat accusantium. Inventore placeat fugiat,
        distinctio id ipsam neque deserunt?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
        mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
        incidunt architecto odit porro dolores vel natus placeat, quibusdam quas
        eos iusto accusamus odio at recusandae mollitia temporibus ullam
        voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
        sequi cupiditate architecto omnis iste consectetur beatae dolor suscipit
        iure nam possimus nobis quod eligendi, magni laudantium, cum dolores
        porro similique debitis ab eveniet? Atque sunt id error et inventore
        nulla, porro velit quas non omnis possimus laboriosam, fuga eveniet
        delectus! Nemo exercitationem atque inventore quis! Voluptatibus
        voluptatum sit consequatur saepe, quisquam maiores a amet optio,
        veritatis tenetur voluptates, accusamus suscipit quod! Ab obcaecati
        deserunt, itaque aspernatur voluptatem accusamus libero et natus rerum
        sed eveniet aliquid sunt perspiciatis! Numquam, enim deserunt doloribus
        eaque, itaque delectus in harum cupiditate porro animi ea, quaerat ipsa
        suscipit sed architecto sint! Harum ullam ut, tenetur atque dolorem eum
        dolore rem pariatur aperiam voluptates praesentium nostrum, repellendus
        temporibus a nihil est quia, maiores nam iure aliquid sit deserunt id.
        Fuga fugiat omnis autem, deleniti tenetur itaque. Recusandae suscipit
        maxime magnam sed quaerat accusantium. Inventore placeat fugiat,
        distinctio id ipsam neque deserunt?
      </p>
    </div>
    <div class="bg"></div>
  </div>
</div>

<style lang="scss">
  [id] {
    scroll-margin-top: calc(var(--height-header) + var(--s-sections));
  }

  .nested-grid {
    grid-column: 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns: subgrid;
  }

  .nav {
    a {
      &.is-active {
        text-decoration: underline;
      }
    }
  }

  .introduction {
    grid-column: 9 / span 4;
    grid-row: 1;
    position: sticky;
    top: 0;
    // top: calc(var(--height-header) + var(--s-sections));
    padding-top: calc(var(--height-header) + var(--s-sections));
  }

  .col-1 {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  .col-2 {
    grid-column: 5 / span 4;
    grid-row: 3;
  }

  .content {
    grid-column: 1 / span 8;
    grid-row: 2;
    position: sticky;
    top: 0;
  }

  .sidebar {
    grid-column: 9 / span 4;
    grid-row: 2;
  }

  .navigation {
    grid-column: 9 / span 4;
    grid-row: 3;
    position: sticky;
    bottom: 0;
  }

  .bg {
    grid-column: 1 / span 12;
    grid-row: 2 / 4;
    z-index: -1;
    background-color: var(--c-beige);
    box-shadow: 0 0 0 100vmax var(--c-beige);
    clip-path: inset(0 -100vmax);
  }
</style>
