<section id="transformation" class="section">
  <div class="container">
    <div class="grid">
      <h2 class="title">transformation</h2>
      <p class="intro">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
        mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
        incidunt architecto odit porro dolores vel natus placeat, quibusdam quas
        eos iusto accusamus odio at recusandae mollitia temporibus ullam
        voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
        sequi cupiditate architecto omnis iste consectetur beatae dolor suscipit
        iure nam possimus nobis quod eligendi, magni laudantium, cum dolores
        porro similique debitis ab eveniet?
      </p>
      <div class="col">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
          mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
          incidunt architecto odit porro dolores vel natus placeat, quibusdam
          quas eos iusto accusamus odio at recusandae mollitia temporibus ullam
          voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
          sequi cupiditate architecto omnis iste consectetur beatae dolor
          suscipit iure nam possimus nobis quod eligendi, magni laudantium, cum
          dolores porro similique debitis ab eveniet? Atque sunt id error et
          inventore nulla, porro velit quas non omnis possimus laboriosam, fuga
          eveniet delectus! Nemo exercitationem atque inventore quis!
          Voluptatibus voluptatum sit consequatur saepe, quisquam maiores a amet
          optio, veritatis tenetur voluptates, accusamus suscipit quod! Ab
          obcaecati deserunt, itaque aspernatur voluptatem accusamus libero et
          natus rerum sed eveniet aliquid sunt perspiciatis! Numquam, enim
          deserunt doloribus eaque, itaque delectus in harum cupiditate porro
          animi ea, quaerat ipsa suscipit sed architecto sint! Harum ullam ut,
          tenetur atque dolorem eum dolore rem pariatur aperiam voluptates
          praesentium nostrum, repellendus temporibus a nihil est quia, maiores
          nam iure aliquid sit deserunt id. Fuga fugiat omnis autem, deleniti
          tenetur itaque. Recusandae suscipit maxime magnam sed quaerat
          accusantium. Inventore placeat fugiat, distinctio id ipsam neque
          deserunt?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          natus ut assumenda tempora, sed optio et, labore, magnam dignissimos
          mollitia impedit maxime itaque aspernatur. Doloremque fuga nam labore,
          incidunt architecto odit porro dolores vel natus placeat, quibusdam
          quas eos iusto accusamus odio at recusandae mollitia temporibus ullam
          voluptas atque cupiditate! Quisquam, distinctio repellendus assumenda
          sequi cupiditate architecto omnis iste consectetur beatae dolor
          suscipit iure nam possimus nobis quod eligendi, magni laudantium, cum
          dolores porro similique debitis ab eveniet? Atque sunt id error et
          inventore nulla, porro velit quas non omnis possimus laboriosam, fuga
          eveniet delectus! Nemo exercitationem atque inventore quis!
          Voluptatibus voluptatum sit consequatur saepe, quisquam maiores a amet
          optio, veritatis tenetur voluptates, accusamus suscipit quod! Ab
          obcaecati deserunt, itaque aspernatur voluptatem accusamus libero et
          natus rerum sed eveniet aliquid sunt perspiciatis! Numquam, enim
          deserunt doloribus eaque, itaque delectus in harum cupiditate porro
          animi ea, quaerat ipsa suscipit sed architecto sint! Harum ullam ut,
          tenetur atque dolorem eum dolore rem pariatur aperiam voluptates
          praesentium nostrum, repellendus temporibus a nihil est quia, maiores
          nam iure aliquid sit deserunt id. Fuga fugiat omnis autem, deleniti
          tenetur itaque. Recusandae suscipit maxime magnam sed quaerat
          accusantium. Inventore placeat fugiat, distinctio id ipsam neque
          deserunt?
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .section {
    padding-block: var(--s-sections);
    background-color: var(--c-beige);
  }

  .grid {
    align-items: start;
  }

  .title {
    grid-column: 9 / span 4;
    grid-row: 1;
  }

  .intro {
    grid-column: 2 / span 7;
    grid-row: 2;
    position: sticky;
    top: calc(var(--height-header) + var(--s-sections));
  }

  .col {
    grid-column: 9 / span 4;
    grid-row: 2;
  }
</style>
